<h3 class="ui header">{{t "forms.i-i-s-otel-kursach3-комната-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.кодКомнаты
      class=(if (v-get validationModel "кодКомнаты" "isInvalid") "error")
      label=(t "forms.i-i-s-otel-kursach3-комната-e.кодКомнаты-caption")
      data-test-i-i-s-otel-kursach3-комната-e-кодКомнаты=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "кодКомнаты" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.стоимость
      class=(if (v-get validationModel "стоимость" "isInvalid") "error")
      label=(t "forms.i-i-s-otel-kursach3-комната-e.стоимость-caption")
      data-test-i-i-s-otel-kursach3-комната-e-стоимость=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "стоимость" "message")}}
  </div>
  <div class="field" data-test-i-i-s-otel-kursach3-комната-e-класс="true">
    <label>{{t "forms.i-i-s-otel-kursach3-комната-e.класс-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-otel-kursach3-классы")
      value=model.класс
      class=(if (v-get validationModel "класс" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationModel "класс" "message")}}
  </div>
  <div class="field" data-test-i-i-s-otel-kursach3-комната-e-колвоМест="true">
    <label>{{t "forms.i-i-s-otel-kursach3-комната-e.колвоМест-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-otel-kursach3-места")
      value=model.колвоМест
      class=(if (v-get validationModel "колвоМест" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationModel "колвоМест" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-otel-kursach3-комната-e.отель-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.отель
      displayAttributeName="адрес"
      autocomplete=true
      relationName="отель"
      projection="ОтельL"
      title=(t "forms.i-i-s-otel-kursach3-комната-e.отель-caption")
      readonly=readonly
      componentName="отельLookup"
      class=(if (v-get validationModel "отель" "isInvalid") "error")
      data-test-i-i-s-otel-kursach3-комната-e-отель=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "отель" "message")}}
  </div>
</form>
